<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
  <system.webServer>
    <rewrite xdt:Transform="Insert">
      <outboundRules>
        <rule name="Outgoing - URL paths" preCondition="Not .axd files" enabled="true">
          <match filterByTags="A, Form, Img, Input, Link, Script" pattern="lfg(.*)"/>
          <conditions>
          </conditions>
          <action type="Rewrite" value="{R:1}"/>
        </rule>

        <preConditions>
          <preCondition name="Not .axd files">
            <add input="{URL}" pattern="\.axd" negate="true"/>
          </preCondition>
        </preConditions>
      </outboundRules>
    </rewrite>
    <urlCompression doStaticCompression="false" doDynamicCompression="false"  xdt:Transform="Insert"/>
  </system.webServer>
</configuration>