<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="LFG" providerName="System.Data.SqlClient" connectionString="Data Source=s08.winhost.com;Initial Catalog=DB_54350_lfg;User ID=seriously;Password=wow;Integrated Security=False;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <appSettings>
    <add key="Elapsed" value="-30"  xdt:Locator="Match(key)" xdt:Transform="Replace"/>
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
<system.webServer>
    <rewrite xdt:Transform="Insert">
      <outboundRules>
        <rule name="Outgoing - URL paths" preCondition="Not .axd files" enabled="true">
          <match filterByTags="A, Form, Img, Input, Link" pattern="lfg(.*)"/>
          <conditions>
          </conditions>
          <action type="Rewrite" value="{R:1}"/>
        </rule>

        <preConditions>
          <preCondition name="Not .axd files">
            <add input="{URL}" pattern="\.axd" negate="true"/>
          </preCondition>
        </preConditions>
      </outboundRules>
    </rewrite>
    <urlCompression doStaticCompression="false" doDynamicCompression="false"  xdt:Transform="Insert"/>
  </system.webServer>
</configuration>
